@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

// Color text
$color-primary: #0a0a0a;
$color-secondary: #fdfdfd;

// Color background
$color-bg-primary: #f1f1f1;

// Pallete of Colours
$pallete-primary: #fc1068;
$pallete-secondary: #9c325c;

// Fonts
$font-primary: 'Lato', sans-serif;
